    .darkmode .topheader {
        border-bottom: 1px solid #1b063b !important;
        background: #200747 !important;
    }
    
    .darkmode .logoheader {
        opacity: 0;
    }
    
    .darkmode header nav .menu a {
        color: #fff !important;
    }
    
    .darkmode .homedark {
        opacity: 1;
    }
    
    .darkmode .darkmodetrail {
        background: #fff !important;
        border: 1px solid #ddd;
    }
    
    .darkmode .darkmodetrail .darkmodebutton {
        right: 10px;
    }
    
    .darkmode .darkmodetrail .darkmodebutton i {
        background-color: transparent !important;
        color: #160531;
    }
    
    .darkmode #respbtn,
    .darkmode #closebtn,
    .darkmode .topheader #respbtn {
        color: #fff !important;
    }
    
    .darkmode .fullscreenmenu {
        background: rgba(49, 13, 111, 1);
        background: linear-gradient(0deg, rgb(34, 8, 78) 0%, rgb(9, 21, 51) 100%);
        border-color: rgb(35, 8, 82);
    }
    
    .darkmode section {
        background: rgba(49, 13, 111, 1);
        background: linear-gradient(0deg, rgb(34, 8, 78) 0%, rgb(22, 5, 49) 100%);
        border-color: rgb(35, 8, 82);
    }
    
    .darkmode section p {
        color: #fff;
    }
    
    .darkmode section .bgsection svg path {
        fill: rgb(35, 8, 82);
    }
    
    .darkmode .fullscreenmenu .list-group-item {
        background: transparent;
    }
    
    .darkmode .fullscreenmenu .list-group-item a {
        color: #fff !important;
    }
    
    .darkmode {
        color: #fff !important;
        background: #160531 !important;
    }
    
    .darkmode .languagebutton {
        background: #fff !important;
        border: 1px solid #ddd;
    }
    
    .darkmode .languagebutton svg {
        fill: #160531;
    }
    
    .darkmode .melight {
        opacity: 0;
    }
    
    .darkmode .me {
        opacity: 1;
    }
    
    .darkmode .bgsection path {
        fill: #160531;
    }
    
    .darkmode .habilidadepercent {
        background: #160531 !important;
    }
    
    .darkmode .habilidadepercent div {
        background: #fff !important;
    }
    
    .darkmode .contacturl {
        color: #fff;
    }
    
    .darkmode footer {
        background: #160531 !important;
        color: #fff !important;
    }