 body, html
 {
     font-family: 'FelipeTravassos', sans-serif;
     height: 100%;
     color: #3a81b3;
 
 }
 header
 {
   position: fixed;left: 0;
   right: 0;
   top:0;
   transition: all 500ms ease-in-out;
 }
 header nav
 {
   position: relative;
   text-align: left;
 }
 .logoheader
 {
   width: 0;
   transition: all 500ms ease-in-out;
   position: absolute;
   right: 14px;
   top:-57px;
   width: 147px;
 }
 .topheader .logoheader
 {
  top:14px;
 }
 
 #respbtn, #closebtn
{
    display: inline-block;
    padding: 12px;
    color: inherit;
    text-decoration: none !important;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    color: #fff !important;
    background: transparent !important;
    border: none !important;
}
#closebtn
{
  position: absolute;
  color: #316d97 !important;
  right: 5px;
  font-size: 18px;
  top: 15px;
}
.topheader #respbtn
{
  color: #316d97 !important;
}
 .topheader
 {
   border-bottom: 1px solid #ccc;
   background: #fff;
 }

header nav .menu
{
  display: none;
}
 #home
    {
        background: url("../images/pattern.jpg") top center repeat-x;
        background-size:contain;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logohome
    {
      width: 400px;
      max-width: calc(100% - 200px);
    }
#fullscreenmenu
{
  
  transition: all 500ms ease-in-out;
  position: fixed;
  padding-top: 80px;
  top: 0;
  right: calc(100% + 31px);
  bottom: 0;

  border-right: 1px solid #ccc;
  left: -100%;
  width: calc(100% - 30px);
  background: #fff;
}

#fullscreenmenu .novomenu
{
overflow-y: auto;
position: absolute;
top:80px;
left:0;
right:0;
bottom:0;
}
#fullscreenmenu li
{
  padding: 0 !important;
  border: none !important;
}
#fullscreenmenu a
{
  display: block;
  padding: 15px;
  color: #316d97 !important;
  text-decoration: none;
}

#fullscreenmenu.opened
{
  right: 30px;
  left: 0;
}
@media (min-width: 576px) {
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
  header nav .menu
{
  display: block;
}
header nav .menu
  {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none;
    
  }
  header nav
 {
   text-align: center;
 }

 .topheader nav
 {
   text-align: left;
 }

  header nav .menu li
{
    display: inline-block;
    margin: 0 6px;
}

header nav .menu a
{
    display: inline-block;
    padding: 12px;
    color: inherit;
    text-decoration: none !important;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
    color: #fff !important;
}

.topheader nav .menu a
{
  color: #316d97 !important;
}
#respbtn
{
  display: none;
}
#fullscreenmenu, #fullscreenmenu.opened
{
  display: none !important;
}
}
@media (min-width: 1200px) {
  


}
@media (min-width: 1400px) {
  

}
